<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Fiskalizator
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/prijava" aria-current="page" href="#">Prijava</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/registracija">Registracija</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<br>

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Naziv preduzeca</th>
                <th>Racun RSD</th>
                <th>Porez RSD</th>
                <th>Stavke </th>
            </thead>
            <tbody>
                <tr *ngFor="let r of racuni let i = index">
                    <th>{{i+1}}</th>
                    <td>{{r.naziv_preduzeca}}</td>
                    <td>{{r.iznos}}</td>
                    <td>{{r.ukupan_porez}}</td>

                    <td colspan="4">
                        <table class="table mb-0">
                            <thead>
                                <th>#</th>
                                <th>Naziv artikla</th>
                                <th>Kolicina</th>
                                <th>Cijena</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let st of r.stavke let j = index">
                                    <th>{{j+1}}</th>
                                    <td>{{st.naziv_artikla}}</td>
                                    <td>{{st.kolicina}}</td>
                                    <td>{{st.cijena}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
            </tbody>

        </table>
    </div>
</div>