<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Fiskalizator
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" routerLink="/admin-zahtjevi">Zahtjevi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-pregled" aria-current="page" href="#">Pregled
                        izvjestaja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-preduzece" aria-current="page" href="#">Dodaj preduzece</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLink="/admin-kupac">Dodaj kupca</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLink="/admin-lozinka">Promjena lozinke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="odjava()" aria-current="page" href="#">Odjava</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<div class="container">
    <h3  class="text-center" *ngIf="svi_zahtjevi.length == 0">Nema novih zahtjeva</h3>
    <div class="table-responsive" *ngIf="svi_zahtjevi.length != 0">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Naziv</th>
                <th>Korisnicko ime</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Prihvati</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of svi_zahtjevi let i = index">
                    <th>{{i+1}}</th>
                    <td>{{p.naziv}}</td>
                    <td>{{p.korisnicko_ime}}</td>
                    <td>{{p.telefon}}</td>
                    <td>{{p.email}}</td>
                    <td><button class="btn btn-outline-primary" (click)="prihvatiZahtjev(p)">Prihvati</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr *ngIf="aktivni.length != 0">

    <div class="table-responsive" *ngIf="aktivni.length != 0">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Naziv</th>
                <th>Korisnicko ime</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Prihvati</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of aktivni let i = index">
                    <th>{{i+1}}</th>
                    <td>{{p.naziv}}</td>
                    <td>{{p.korisnicko_ime}}</td>
                    <td>{{p.telefon}}</td>
                    <td>{{p.email}}</td>
                    <td><button class="btn btn-outline-primary" (click)="odbiZahtjev(p)">Deaktiviraj</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>